// _table.scss

.table-style {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      border: 1px solid #1d1b1b;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #99b1a7ea;
      color: #fff;
    }
  
    tr:nth-child(even) {
      background-color: #63cea7;
    }
  
    tr:hover {
      background-color: #e0e0e0;
    }
  }
  