/* _utilities.scss */

$primary-color: #fad698;
$secondary-color:#9245b5;


.sec-1{
    margin: 8px;
    padding: 8px;
  }
  
.sec-2 {
    margin: 8px;
    padding: 8px;
  }
   
.sec-3 {
   margin: 8px;
   padding: 8px;
  }

  